<% provide(:title, 'Edit acount') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:url_text, current_user) %>

<h1>Update your profile</h1>

<div class="row">

  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user) do |f| %>
  
      <%= render 'form', f: f %>

    <% end %>

    <div class="gravatar_edit">

      <%= gravatar_for @user %>

      <!--Incluyendo rel para la seguridad con los parámetros noopener y noreferrer, aunque este último no se usa mucho 
          en estos momentos, no veo el problema en que se incluya también por precaución de un navegador antiguo-->
      <a href="http://gravatar.com/emails" target= "_blank" rel="noopener noreferrer" > Change </a>

    </div>

  </div>

</div>
