<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create account') %>
<% provide(:url_text, signup_path) %>

<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_for(@user, url: signup_path) do |f| %>
  
      <%= render 'form', f: f%>

    <% end %>

  </div>
</div>
